body {
	overflow: hidden;
	font-family: Verdana;
	color: #DDD;
}

body,
html {
	height: 100%;
}

ul {
	list-style: none;
}

a,
a:visited,
a:focus {
	outline: 0;
	color: #AAA;
	text-decoration: none;
}

.d a,
.d a:visited,
.d a:focus {
	color: #BBB;
}

.d,
.c {
	height: 100%;
	min-height: 320px;
	overflow: auto;
}

.d {
	background: #888;
	float: left;
	position: relative;
	width: 65%;
}

.d-anchor, .d-projects {
	position: absolute;
	top: 0.67em;
	right: 0.67em;
}

.d-projects{
	top: 1.67em;
	text-align: right;
}

.d-inner {
	padding: 0.67em;
}

.d-comments {
	margin: 2em;
	padding: 0;
}

.d-comments img {
	max-width: 100%;
}

.d-comments-comment {
	padding-bottom: 1em;
}

.d-comments-comment-text {
	font-size: 0.9em;
}

.d-comments-comment-author,
.d-comments-comment-time,
.d-header-author,
.d-header-time {
	font-size: 0.8em;
	color: #BBB;
}

.d-comments-comment-author,
.d-header-author {
	margin-right: 1em;
}

.d-comments-comment-text p {
	margin: 0;
}

.c {
	background: #444;
	padding: 0 1em 0 1em;
	box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.4);
}

.c-inner {
	padding: 0 2em 0 0;
}

.c-header {
	width: 100%;
}

.c-filters {
	padding: 0 0 0 2em;
}

.c-filters li {
	display: inline;
	float: left;
}

.c-filters a {
	margin-right: 0.33em;
}

.c-issues {
	padding-left: 0;
	width: 100%;
}

.c-search {
	background: transparent;
	border: none;
	border-bottom: 1px dotted #888;
	border-radius: 0;
	color: #DDD;
	padding: 1em 0 0 2em;
	height: 1.67em;
	width: 100%;
}

.c-project {
	color: transparent;
	position: relative;
	text-shadow: 0 0 0.67em #DDD, 0 0 0 #000;
}

.selected,
.selected .c-issues-issue-number a,
.active {
	color: white !important;
}

.hidden {
	display: none;
}

:focus {
	outline: 0;
}

:focus::-webkit-input-placeholder {
	opacity: 0;
}

:focus::-moz-placeholder {
	opacity: 0;
}

:focus:-moz-placeholder {
	opacity: 0;
}
